.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

header h1 {
    font-family: Cinzel;
}

header {
    text-align: center;
}

div div {
    padding: 10px;
    height: 180px;
    background-color: beige;
    width: 17%;
    float: left;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

div p {
    font-weight: bold;
}

div ul {
    padding: 0;
}

div div:hover {
    background-color: rgb(220, 245, 241);
}

li {
    list-style-type: none;
}

li a:hover {
    color: red;
}

.clearfix {
    clear: both;
}

footer h1 {
    font-family: Cinzel Decorative;
}

footer {
    animation-name: myanim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes myanim {
    0% {
        color: rgb(255, 0, 255);
    }
    25% {
        color: rgb(255, 72, 0);
    }
    50% {
        color: rgb(153, 205, 50);
    }
    75% {
        color: rgb(0, 60, 255);
    }
    100% {
        color: rgb(0, 255, 213);
    }
}