body {
    margin: 10px;
    background-color: aquamarine;
}

body p {
    line-height: 125%;
    font-size: 1.25em;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

img {
    max-width: 100%;
}

figure {
    margin: 10px 0;
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
}

figcaption {
    padding: 10px 5px;
    color: black;
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    img {
        max-width: unset;
        width: 200px;
    }
    figure {
        /* width: 40%; */
        max-width: unset;
        margin: 10px;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }
}

@media only screen and (min-width: 800px) {
    .container {
        display: flex;
        flex-flow: row wrap;
    }
    img {
        max-width: unset;
        width: 400px;
    }
    figure {
        margin: 10px;
        justify-content: space-around;
    }
}