* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(14, 7.14%);
}

.box {
    background-color: limegreen;
    overflow: hidden;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
}

.col-s-1 {
    grid-column-start: 1;
}

.col-s-2 {
    grid-column-start: 2;
}

.col-s-3 {
    grid-column-start: 3;
}

.col-s-4 {
    grid-column-start: 4;
}

.col-e-2 {
    grid-column-end: 2;
}

.col-e-3 {
    grid-column-end: 3;
}

.col-e-4 {
    grid-column-end: 4;
}

.col-e-5 {
    grid-column-end: 5;
}

.row-s-1 {
    grid-row-start: 1;
}

.row-s-2 {
    grid-row-start: 2;
}

.row-s-3 {
    grid-row-start: 3;
}

.row-s-6 {
    grid-row-start: 6;
}

.row-s-7 {
    grid-row-start: 7;
}

.row-s-9 {
    grid-row-start: 9;
}

.row-s-13 {
    grid-row-start: 13;
}

.row-e-2 {
    grid-row-end: 2;
}

.row-e-3 {
    grid-row-end: 3;
}

.row-e-6 {
    grid-row-end: 6;
}

.row-e-7 {
    grid-row-end: 7;
}

.row-e-9 {
    grid-row-end: 9;
}

.row-e-13 {
    grid-row-end: 13;
}

.row-e-15 {
    grid-row-end: 15;
}